#picadilly {
    /* position: relative; */
    font-family: "Source Sans Pro";
    color: #fff;
     font-weight: 100 !important;
    font-size: 100px;
    -webkit-text-stroke: 7px #23d5ab;
    letter-spacing: 15px;
    -webkit-filter: drop-shadow(9px 11px 0 #98B5CC);
    width: 1000px;
    text-align: center;
    line-height: 1.2;
    margin: 4rem auto;
    z-index: 2;
}