
body {
	background: linear-gradient(-45deg, #80574b, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}
@import url('https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Tenali+Ramakrishna&display=swap');
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.Todo{
	display: flex;
	margin: 10px ;
	padding: 1.1rem 3rem;
	justify-content: space-between;
	align-items: center;
	background: rgba(255, 255, 255, 0.1);
}

	
.Todo-task{
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size: 28px;
	color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
.Todo button{
	padding: 10px;
	border-radius: 4px;
	border: 0px solid;
	font-family: 'Oswald', sans-serif;
	line-height: 2rem;
}
.Todo #edit{
	color: chocolate;
}
.Todo #cancel{
	color: red;
}
.Todo #toggle{
	color:green
}
.Todo-task.completed{
	font-family: 'Tenali Ramakrishna', sans-serif;
	font-size: 28px;
	color: black;
	text-decoration: line-through;
}
#action
{
	transition: all 0.1s;
	-webkit-transition: all 0.1s;
	/* position: relative; */
	padding: 10px 20px;
  /* margin: 0px 10px 10px 0px; */
  /* float: left; */
  font-size:15px;
	border-radius: 10px;
	font-family: 'Pacifico', cursive;
    color: #FFF;	
	background-color: #3498DB;
	text-shadow: 0px -2px #2980B9;
	margin-left: 30px;
}
.Todo input{
    margin: 10px;
    border:0px ;
    border-radius: 7px;
    padding: 5px;
    font-family: 'Chelsea Market', cursive;
}